:root {
        --secondary-color-main: hsl(40, 100%, 80%);
    }

header {
    position: relative;        /* zorgt ervoor dat die menu in de header blijft */
    height: 80px;              /* Vaste hoogte */
    display: flex;
    justify-content: center;   /* Logo centreren */
    align-items: center;
    @media (min-width: 600px) {
        justify-content: flex-start; /* logo naar links */
    }
}

/* Logo blijft in het midden */
.logo {
    width: 250px;
    height: 141px;
    display: block;
    margin: 0 auto;
    @media (min-width: 600px) {
        margin: 0; /* voorkomt centreren */
    }
}

/* Hamburger menu naar rechts */
header button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); /* Centreert op de y-as binnen de header */
    background: none;
    border: none;
    cursor: pointer;
    /* Hamburger menu blijft rechts */
    @media (min-width: 600px) {
        right: 20px;
        position: absolute;       
        top: 50%; 
        transform: translateY(-50%);
    }

}

/* Navigatie menu niet zichtbaar*/
.navigatie-desktop{   
    display:none;
    list-style: none;
    /* Navigatie menu zichtbaar */
    @media (min-width: 600px) {
    display: flex;
    gap: 40px; 
    margin-left: auto; /* duw de nav naar rechts */
    list-style: none;
    align-items: center;    }
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* Stijl van de text mooi maken */
.navigatie-desktop li a {
    color: var(--lightmode-text);
    text-decoration: none;
}

/* Nav popover krijgt geen positie in de header */
nav {
    padding: 20px;
}

nav ul li {
    list-style: none;
}

/* stijl voor content in de hamburger menu */
nav ul li a {
    color: var(--lightmode-text);
    text-decoration: none;
    font-weight: medium;
    font-size: 18px;
}

.close-menu {
    margin-left: 0px;
}

/* button netter */
button {
   border:none;
   background-color:transparent;
   cursor: pointer;   
}


:popover-open { 
	border: none;  /* zwarte default border weg */
    height: 100%;
	width: 50%;   /* popover is 50% van de width op website */
	position: fixed;
    margin-right: 0px; /* komt rechts */
}

.page-title {
    text-align: center;
    padding-right: 700px;
}

.ad-info-photo {
    width: 100%;
}

.ad-uitleg-section {
    display: flex;
    justify-content: center;
}

.ad-uitleg {
    text-align: center;
    width: 50%;
}

.text-center {
    text-align: center;
}

.save-the-date-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.save-the-date {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color-dark);
    width: 70%;
    @media (min-width: 600px) {
    width: 20%;
    }
}

.save-the-date-text {
    margin-top: 0%;
    position: relative;
    color: var(--darkmode-text);
}

.logo-mini {
    position: absolute;
    margin-top: -60px;
    margin-right: 195px;
    width: 173px;
    height: 97px;
}

.hogescholen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
    background: url(assets/achtergrond.png);
    margin-top: 20px;
}

.scholen-fotos {
    width: 190px;
    height: 80px;
}

.hu {
    width: 260px;
    height: 55px;
}

.aeres {
    width: 146px;
    height: 110px;
}

.ontdek-meer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 50px;
    @media (min-width: 600px) {
    width: 40%; 
    }
}

.info-text {
    width: 80%;
    text-align: center;
}

.foto-main{
    position: block;
    width: 314px;
    height: 303px;
}

.foto-main2{
    position: block;
    width: 314px;
    height: 253px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-dark);
    width: 100%;
    padding-bottom: 300px;
    margin-top: 100px;
}

footer p {
    color: white;
    margin-left: 10px;
}

footer ul li{
    list-style: none;
}

footer a{
    color: var(--darkmode-text);
    text-decoration: none;
}

@keyframes --like-animation {

  0% {
    scale:1;
  }
	50% {
		scale:1.25;
	}
	100% {
		scale:1;
	}
}

 .unliked-button {
	width:1.75em;
	height:1.75em;
	padding:0;
	
	background-color:transparent;
	border-radius:.25em;
	color:white;
	
	line-height:.5em;
	font-size:2.5em;
	-webkit-text-stroke-width:.05em;
  -webkit-text-stroke-color:crimson;
	outline-color:crimson;
}

 .unliked-button.liked {

    animation-name: --like-animation;
	animation-duration:.25s;
	animation-iteration-count:2;
	animation-fill-mode:forwards;	
	color:crimson;
    fill: crimson;
}


@media (min-width: 600px) {

    /* Hamburger verbergen */
    .hamburgertje {
        display: none;
    }
   
}



/* @media (min-width: 600px) and (max-width: 1200px) {} */
/* @media (min-width: 1200px) {} */